/* SECTION STYLES */
.section__container {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 18px 10px 24px;
  display: flex;
  font-size: 0.8rem;
  position: relative;
}

.section__text__container {
  display: inline-block;
  line-height: 16px;
  text-align: left;
  width: 270px;
  height: 100px;
}

.section__image__container {
  height: 95px;
  width: 80px;
  margin-left: 10px;
  display: inline-block;
}

.section__image {
  height: 95px;
  width: 80px;
  background-size: cover;
  background-position: center;
}

/* SECTION TITLE */
.section__title {
  margin: 0 0 0.4rem;
}
.section__rating {
  margin: 0.2rem 0;
}

/* CATEGORIES STYLES */
.categories {
  margin: 0;
}
.categories span::after {
  content: ", ";
}
.categories span:last-child::after {
  content: "";
}
/* LOCATION STYLES */
.location {
  margin: 0.1rem 0 0;
}
/* CLOSE OR OPEN STYLES*/
.isClosed {
  margin: 0;
}
/* YELP LOGO */
.yelp__logo__container {
  height: 30px;
  width: 50px;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 7.2rem;
  bottom: 0.7rem;
}
.yelp__logo__container:hover,
.yelp__logo__container:active {
  cursor: pointer;
  transform: scale(1.2);
}
