/* SIDE BAR STYLES */
.sideBar {
  width: 408px;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  box-shadow: 1px 0px 10px #000;
  overflow: hidden;
  overflow-y: scroll;
}
/* HIDE SCROLL BAR */
.sideBar::-webkit-scrollbar {
  display: none;
}

/* MEDIA QUERY */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .sideBar {
    width: 100%;
    height: 100vh;
  }
}
