/* LOCATION BUTTON STYLES */
.location__button {
  text-transform: uppercase;
  padding: 1.2rem 1rem;
  border: none;
  box-shadow: 1px 1px 5px #000;
  background-color: #009484;
  color: #fff;
  transition: all 0.5s;
}

.location__button:hover,
.location__button:active {
  cursor: pointer;
  transform: scale(1.05);
}
button:disabled {
  background-color: #cccc;
  cursor: progress;
  transform: scale(1.05);
}
