.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* MAP CONTAINER */
.map__container {
  position: absolute;
  /* z-index: 0; */
  height: 100%;
  width: 100%;
}
